@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --scrollbar-track: #f0f0f0; /* light gray background */
  --scrollbar-thumb: #a0aec0; /* gray thumb */
}

.dark {
  --scrollbar-track: #2d3748; /* dark bg */
  --scrollbar-thumb: #718096; /* lighter gray thumb */
}


.tasks-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

.tasks-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.tasks-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 2px solid var(--scrollbar-track);
}

input:-webkit-autofill {
  transition: background-color 9999s ease-in-out 0s;
  -webkit-text-fill-color: #d1d5db !important; /* Tailwind's text-gray-300 */
  caret-color: white;
}

.dark input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px #374151 inset !important; /* Tailwind's gray-700 */
  -webkit-text-fill-color: #d1d5db !important; /* text-gray-300 */
}
